body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url("../img/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;

}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.inner-page {
	color: #000000;

	background-color: #f9f6f3;
	background-image: url("../img/pattern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #b3b626;
}

.main-header {
	margin-bottom: 75px;
}

.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header-logo {
	order: 2;
	width: 368px;
	height: 153px;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;
	background-color: #000000;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 520px;

	/* Подсветка участка. Для наглядности! */
	/* background: rgba(234, 255, 45, 0.2); */
	/* box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}

.user-navigation {
	display: flex;
	max-width: 140px;
}

.user-navigation,
.site-navigation {
	list-style: none;
	padding: 0px;
	margin: 0;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 25px 20px;

	/* Почему-то не работает */
	/* vertical-align: middle; */
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #414011;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.user-navigation .login-link {
	position: relative;
	padding-left: 50px;
}

.login-link::before {
	content: "";

	position: absolute;
	top: 27px;
	left: 24px;

	width: 16px;
	height: 18px;

	background-image: url("../img/login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 30%;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
	opacity: 100%;
}

/* остановился на л.7 время:1ч06м */

.features {
	margin-bottom: 80px;
}

.features-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.features-item {
	text-align: center;
	width: 300px;
}

.feature-item h3 {
	font-size: 30px;
	line-height: 42px;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
	margin-bottom: 35px;
	color: #000;

	background-color: #f8f5f2;
	background-image: url("../img/bg1.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.index-columns h2 {
	font-size: 30px;
	line-height: 42px;
}

.news {
	width: 380px;
}

.news time {
	text-transform: none;
}

.gallery {
	width: 300px;
}

.gallery-content {
	background-color: #050404;
	border: 7px solid #ccb912;
}

.contacts {
	width: 380px;
}

.appointment {
	width: 300px;
}

.appointment-item input {
	font: inherit;

	background-color: transparent;
	border: 4px solid #000000;
}

.appointment-item input:focus {
	border-color: #ff5e00
}

.main-footer {
	margin-top: 65px;
	color: #ffffff;

	background-color: #212121;
	background-image: url("../img/footer-bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.main-footer .container {
	display: flex;
}

.footer-contacts {
	width: 320px;
	margin: 0;
	margin-right: 80px;
}

.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-social {
	width: 145px;
	margin: 0;
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #ffffff;
}

.footer-copyright {
	width: 150px;
	margin: 0;
	margin-left: auto;
	text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000000;

	background-color: #ffffff;
}

.modal {
	color: #000000;

	background-color: #f8f3f0;
	background-image: url("../img/bg1.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.modal h2 {
	font-size: 30px;
	line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	font: inherit;
	color: #131594;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: 4px solid #000000;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}