body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url("../img/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;

}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.inner-page {
	color: #000000;

	background-color: #f9f6f3;
	background-image: url("../img/pattern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	margin-right: 16px;

	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #b3b626;
}

.main-header {
	margin-bottom: 75px;
}

.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header-logo {
	order: 2;
	width: 368px;
	height: 153px;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;
	background-color: #000000;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 620px;

	/* Подсветка участка. Для наглядности! */
	/* background: rgba(234, 255, 45, 0.2); */
	/* box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}

.user-navigation {
	display: flex;
	max-width: 140px;
}

.user-navigation,
.site-navigation {
	list-style: none;
	padding: 0px;
	margin: 0;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 25px 20px;

	/* Почему-то не работает */
	/* vertical-align: middle; */
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #e0dd0b;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.user-navigation .login-link {
	position: relative;
	padding-left: 50px;
}

.login-link::before {
	content: "";

	position: absolute;
	top: 27px;
	left: 24px;

	width: 16px;
	height: 18px;

	background-image: url("../img/login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 30%;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
	opacity: 100%;
}

.features {
	margin-bottom: 80px;
}

.features-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.features-item {
	text-align: center;
	width: 300px;
}

.features-item h3 {
	position: relative;

	margin: 0;
	margin-bottom: 60px;
	font-size: 30px;
	line-height: 42px;
}

.features-item h3::after {
	content: "";

	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -10px;
	transform: rotate(45deg);

	width: 20px;
	height: 20px;

	background-color: #ffffff;
}

.features-item p {
	margin: 0 18px;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
	margin-bottom: 35px;
	color: #000;

	background-color: #f8f5f2;
	background-image:
		url("../img/content-splitter.png"), url("../img/bg1.jpg");
	background-position: center, 0 0;
	background-repeat: no-repeat, repeat;
}

.index-columns h2 {
	margin: 0;
	margin-bottom: 25px;

	font-size: 30px;
	line-height: 42px;
}

.news {
	width: 380px;

	/* Подсветка */
	/* background: rgba(255, 45, 82, 0.2); */
	/* box-shadow: 0 0 0 3px rgb(255, 45, 82); */
}

.news-list {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	list-style: none;

}

.news-item {
	margin-bottom: 25px;
}

.news-item p {
	margin: 0;
}

.news-item time {
	text-transform: none;
}

.gallery {
	width: 300px;

	/* Подсветка */
	/* background: rgba(255, 45, 82, 0.2); */
	/* box-shadow: 0 0 0 3px rgb(255, 45, 82); */
}

.gallery-container {
	position: relative;

	height: 382px;
}

.gallery-content {
	height: 164px;
	margin: 0;

	background-color: #cccccc;
	border: 7px solid #ccb912;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery-button {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;

	width: 140px;
	margin: 0;
}

.gallery-button-back {
	left: 0;
}

.gallery-button-next {
	right: 0;
}

.contacts {
	width: 380px;
}

.contacts p {
	margin: 0;
	margin-bottom: 25px;
}

.appointment {
	width: 300px;
}

.appointment-info {
	margin: 0;
	margin-bottom: 15px;

}

.appointment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.appointment-item {
	width: 140px;
	margin: 0;
	margin-bottom: 10px;
}

.appointment-item label {
	display: block;
	margin-bottom: 9px;
	margin-left: 15px;
}

.appointment-item input {
	box-sizing: border-box;
	width: 140px;
	padding-top: 8px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 7px;

	font: inherit;

	background-color: transparent;
	border: 2px solid #000000;
}

.appointment-item input:hover,
.appointment-item input:focus {
	border-color: #e0dd0b;
}

.appointment .button {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-right: 0px;
}

.main-footer {
	margin-top: 65px;
	padding: 60px 0;
	color: #ffffff;

	background-color: #212121;
	background-image: url("../img/footer-bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.main-footer .container {
	display: flex;
}

.footer-contacts {
	width: 320px;
	margin: 0;
	margin-right: 80px;
	/* margin-top: 10px; */
}

.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-social {
	width: 145px;
	margin: 0;

	text-align: center;
}

.footer-social b {
	display: block;

	margin-bottom: 15px;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 141px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 43px;
	height: 43px;
	margin-bottom: 10px;

	background-color: #000000;
}

.social-button:hover,
.sotial-button:focus {
	background-color: #ffffff;
}

.social-button:hover path,
.sotial-button:focus path {
	fill: #000000;
}

.footer-copyright {
	width: 150px;
	margin: 0;
	margin-left: auto;
	text-align: center;
}

.footer-copyright b {
	display: block;
	margin-bottom: 15px;
}

.footer-copyright .button {
	display: block;
	margin-right: 0px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000000;

	background-color: #ffffff;
}

/* Всплывающая форма */

.modal {
	position: fixed;

	color: #000000;

	background-color: #f8f3f0;
	background-image: url("../img/bg1.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login {
	top: 120px;
	left: 50%;

	display: none;

	width: 300px;
	margin-left: -230px;
	padding: 50px 80px;
}

.modal-close {
	position: absolute;
	top: 0;
	right: -34px;

	width: 22px;
	height: 22px;

	background-color: transparent;
	border: 0;

	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 10px;
	left: 2px;

	width: 19px;
	height: 3px;

	background-color: #d0d0d0;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.modal-login h2 {
	margin: 0;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 42px;
}

.modal-description {
	margin: 0;
	margin-bottom: 10px;
}

.login-form p {
	margin: 0;
	margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 15px;
	padding-right: 40px;

	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-form .login-help {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 15px 0;
}

.login-checkbox {
	position: relative;

	padding-left: 30px;

	cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.login-checkbox input[type="checkbox"]+.checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;

	width: 17px;
	height: 17px;
	border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus+.checkbox-indicator {
	border-color: #663d15;
	outline: thin dotted;
	/* outline: 5px auto -webkit-focus-ring-color; */
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 1px;

	width: 15px;
	height: 2px;

	background-color: #c300ff;
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before {
	transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
	transform: rotate(-45deg);
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}

.login-form .button {
	width: 100%;
	margin-right: 0;
}

.modal-map {
	top: 50%;
	left: 50%;

	width: 500px;
	height: 500px;
	margin-top: -250px;
	margin-left: -250px;
	border: 7px solid gold;
}

.modal-map p {
	margin: 0;

}